.create_post {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create_post h2 {
    font-size: 2.2em;
    color: rgb(241, 109, 0);
}

.create_post form {
    width: 400px;
    max-width: 90%;
    display: flex;
    flex-direction: column;
}

.create_post button {
    background-color: rgb(241, 109, 0);
    color: white;
    cursor: pointer;
    padding: 0.8em;
    font-size: 1em;
    border: none;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    font-weight: bold;
    display: block;
    max-width: 500px;
    margin: auto;
    margin-top: 20px;
}

.create_post p {
    color: #aaa;
    margin-bottom: 0;
}